*.db
.DS_Store
.cache/
.file_versions
.gitkeep
.log
.logs/
.mage_temp_profiles
.preferences.yaml
.ssh_tunnel
.terraform
.terraform.*
.variables/
__pycache__/
docker-compose.override.yml
logs/

secrets/
*.pem*
terraform.tfstate
terraform.tfstate.backup
volume/cache/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

venv/
ENV/
env.bak/
venv.bak/
