[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
flake8 = "*"
isort = "*"
typer = "*"
ipython = "*"
jupyter = "*"
jupyterlab = "*"
notebook = "*"
seaborn = "*"
matplotlib = "*"
boto3 = "*"
fastparquet = "*"
hyperopt = "*"
mlflow = "==2.12.1"
pandas = "*"
numpy = "*"
scikit-learn = "==1.5.0"
xgboost = "*"
graphviz = "*"
pyarrow = "*"
flask = "*"
loguru = "*"
mkdocs = "*"
gunicorn = "*"
requests = "*"
localstack = "*"

[dev-packages]

[requires]
python_version = "3.10"
