black
flake8
isort
tqdm
typer
ipython
jupyter
jupyterlab
notebook
matplotlib
seaborn
boto3
fastparquet
graphviz
hyperopt
pyarrow
mlflow==2.12.1
pandas
numpy
scikit-learn===1.5.0
shap
xgboost
loguru
mkdocs